@tailwind base;
@tailwind components;
@tailwind utilities;



.dresscode{
    white-space: pre;
}


.regalos{
    white-space: pre; 
}


.cierre{
    white-space: pre;
}



.bg-custom {
    background-image: url('https://drive.google.com/uc?export=view&id=1VXQV1kihXtsfRGXGs65L8UkfbfWxRnm3');
    background-size: cover;
    background-position: center;
  }